name: Java CI with Gradle

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    if: contains(github.event.head_commit.message, '[ci]')
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up JBR 21
        uses: actions/setup-java@v4
        with:
          distribution: jetbrains
          java-version: 21
          cache: gradle

      - uses: gradle/actions/setup-gradle@v4

      - name: Make Gradle wrapper executable
        run: chmod +x gradlew

      - name: Build with Gradle Wrapper
        run: ./gradlew clean build